fastapi==0.112.0
uvicorn[standard]
torch
fairscale
fire
blobfile
PyYAML
jinja2
tiktoken
pydantic>=2
sentence-transformers
scikit-learn
numpy<2
langchain
langchain_community
langchain-openai
langchain_experimental
langchain-core
langchain-huggingface
openai
ipython
python-multipart
psycopg2
FlagEmbedding

#tools
google-search-results
# yfinance
pyowm
# langchain-exa
langchain-google-community
beautifulsoup4

#LSTM
tensorflow==2.10.0

openpyxl

#RAG
faiss-gpu
rank_bm25